@charset "UTF-8";

/* 경매 매인 */

.auction_write{
	cursor: pointer;
	margin-right:14px;
	border:1px solid #7e5957;
	width:82px;
	height:36px;
	/* disply:inline-block; */
	font-size:10pt;
	font-weight: bold;
	color:gray;
	float:right;
	margin-bottom:20px;
	background: #ffffff;
	outline: none;
    overflow: visible;
    border-radius: 5px;	
	
}