@charset "UTF-8";

.QnA_comment_title{
	width:95%;
	height:auto;
	border: 2px solid #e4dcbc;
	margin-bottom:30px;
	font-size:15pt;
	padding:5px 20px 20px 20px;
}



.QnA_comment_title2{
	width:95%;
	height:auto;
	border: 2px solid #e4dcbc;
	margin-bottom:30px;
	font-size:15pt;
	padding:5px 20px 20px 20px;
}

.QnA_comment_write{
	width:100%;
	height:auto;
	border-top: 1px solid #c0c0c0;
	
}


.commont_modify2{
	padding-top:15px;
	padding-bottom:10px;
	border-top:1px solid #ffffff;
	width:100%;
	height:auto;
}

.commont_modify2 td:nth-child(1){
	padding-left:10px;
	padding-right:30px;
	width:15%;
}

.commont_modify2 td:nth-child(2){
	width:60%;
}

.commont_modify2 td:nth-child(3){
	width:20%;
	
}

.commont_modify2 input{

	marging-left:40px;
}

.commont_modify2_button{
	font-size:15pt;
	color:#808080;
	font-weight:bold;
	margin-left:25px;
	margin-bottom:3px;
	width:101px;
	height:80px;
}

.QnA_MODIFY2{
	margin:10px;
}
.QnA_MODIFY2 button:nth-child(1){
	cursor: pointer;
	margin-right:5px;
	border:none;
	width:80px;
	height:36px;
	disply:inline-block;
	font-size:12pt;
	font-weight: bold;
	color:gray;
	/* margin-left:761px; */
	/* margin-bottom:10px; */
	background: #e4dcbc;
	outline: none;
    overflow: visible;
    border-radius: 5px;
    float:right;
}


.QnA_MODIFY2 button:nth-child(1){
	cursor: pointer;
	margin-right:5px;
	border:none;
	width:80px;
	height:36px;
	disply:inline-block;
	font-size:12pt;
	font-weight: bold;
	color:gray;
	/* margin-left:761px; */
	/* margin-bottom:10px; */
	background: #e4dcbc;
	outline: none;
    overflow: visible;
    border-radius: 5px;
    float:right;
}

.QnA_MODIFY2 button:nth-child(1) a{
	text-decoration:none;
	color:#c0c0c0;
}

.commont_modify3{
	margin:10px 0px 0px 10px;
}

.commont_modify3 tr:nth-child(2) td{
	padding-top:15px;
	
}

.commont_modify3 tr:nth-child(1) td{
	font-weight:bold;
	color:#c0c0c0;
	padding-top:15px;
	
}
