@charset "UTF-8";

.goods-view-flow-cart .styled-button.goods-cart-type{width:50%;background-position:173px}
.goods-view-flow-cart .styled-button.goods-cart-type:hover{background-position:173px}
.goods-view-flow-cart .styled-button.goods-direct-buy{width:50%}
.goods-view-flow-cart .styled-button.goods-heart-type{width:23.804%;background-position:56px}
.goods-view-flow-cart .styled-button.goods-heart-type:hover{background-position:56px}
.goods-view-flow-cart .styled-button.goods-alarm-type{width:23.804%;background-position:56px}
.goods-view-flow-cart .styled-button.goods-alarm-type span{background-position:56px}
.goods-view-flow-cart .styled-button.goods-alarm-type.desable-type span{background-position:56px}
.goods-view-flow-cart .styled-button.goods-alarm-type.desable-type span:hover{background-position:56px}
.goods-view-flow-cart{display:none;position:fixed;width:100%;bottom:0;left:0;border-top:2px solid #7e5957;padding-top:20px;background-color:#fff;z-index:100;-webkit-box-shadow:0 0 5px rgba(0,0,0,.5);box-shadow:0 0 5px rgba(0,0,0,.5)}
.goods-view-flow-cart.__active{display:block}
.goods-view-flow-cart-wrapper{width:890px;margin:0 auto;position:relative}
.goods-view-flow-cart-content{display:none;padding-bottom:20px}
.goods-view-flow-cart-content.__active{display:block}
.goods-view-show-option-button{text-align:center;width:170px;height:48px;background-color:#7e5957;position:absolute;right:0;top:-70px;border:0}
.goods-view-show-option-button-value{color:#fff;font-size:14px;padding-left:20px;background-image:url(/farm/resources/images/icon/icon-arrow-top-white.png);background-repeat:no-repeat;background-position:left center}
.goods-view-show-option-button.__active .goods-view-show-option-button-value{background-image:url(/farm/resources/images/icon/icon-arrow-bottom-white.png)}
#flow-cart2{display:none;}
.goods-view-show-option-button:hover{cursor: pointer;}