@charset "UTF-8";

#job_image {
	background-size: cover;
	width: 50px;
	height: 50px;
	float: left;
}

#job {
	font-weight: bold;
	font-size: 23pt;
	color: #7e5957;
}

.job_box {
	width: 938px;
	height: 1000px;
	padding: 0 10px;
}

.job_date {
	color: #555;
	float: right;
	font-size: 12pt;
}

.job_title {
	padding: 20px 20px 20px 40px;
	height: 60px;
}

.job_name {
	color: #555;
	margin: 0px;
}

.job_table {
	margin: 10px 0;
	width: 100%;
	border-bottom: 1px solid #f0ebd8;
}

.job_table th {
	width: 50%;
	text-align: left;
	background: #f0ebd8;
	color: #462114;
}

.job_table th, .job_table td {
	padding: 10px;
}

.job_table tr {
	
}

.job_titleP {
	margin: 5px 0 0 0;
	font-size: 14pt;
}

.job_imgbox {
	/* margin: 0 auto;
	background-size: cover; */
	width: 100%;
	height: 400px;
}

.map_div {
	width: 100%;
	height: 300px;
	background: pink;
}

.content_div {
	font-weight: bold;
	margin-top: 10px;
	padding: 10px;
	text-align: left;
	color: #462114;
	background: #f0ebd8;
	width: 920px;
}