@charset "UTF-8";

.jung_table {
	width: 100%;
	border-collapse: collapse;
	border-top: 5px solid #ECE6CE;
}

.jung_table2 {
	width: 100%;
	border-collapse: collapse;
}

.div {
	width: 100%;
	margin: auto;
}

.tr {
	border: 1px solid #ddd;
}

.cma_image {
	width: 420px;
	height: 280px;
	border: 1px solid #dcdcdc;
	color: gray;
	text-align: center;
	line-height: 270px;
}

.backimg {
	text-align: center;
	background-size: cover;
	position: absolute;
	width: 420px;
	height: 280px;
	border: 1px solid #dcdcdc;
}

.tr2 {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #F7F5F8;
}

.td {
	width: 20.0000%;
	border-right: 1px solid #ddd;
	background-color: #F7F5F8;
}

.td2 {
	width: 80%;
	padding: 8px;
}

.td3 {
	width: 10.0000%;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background-color: #F7F5F8;
}

.td4 {
	width: 49%;
	padding: 8px;
	border-right: 1px solid #ddd;
}

.td5 {
	width: 100%;
}

.p {
	text-align: center;
	color: #383838;
	margin: 0;
}

.h3 {
	text-align: center;
}

.input_text_box {
	width: 90%;
}

.input_text_box2 {
	width: 20%;
}

.input_date_box {
	width: 27%;
}

.ui {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ui2 {
	list-style: none;
}

.li {
	float: left;
	margin-right: 15px;
}

.li2 {
	float: left;
}

.li3 {
	float: right;
	margin-left: 15px;
	padding: 8px;
	background: #f27634;
	cursor: pointer;
	margin-top: 15px;
	color: #fff
}

.li4 {
	float: right;
	padding: 8px;
	background: #f27634;
	cursor: pointer;
	margin-top: 15px;
	color: #fff;
}

.li4_input {
	float: right;
	padding: 8px;
	background: #f27634;
	cursor: pointer;
	margin-top: 15px;
	color: #fff;
	border-color: #f27634;
	border-style: none;
}

.li4_input.submit {
	margin-right: 10px;
}