@charset "UTF-8";

.jung_table {
	width: 100%;
	border-collapse: collapse;
	border-top: 5px solid #ECE6CE;
}

.jung_table2 {
	width: 100%;
	border-collapse: collapse;
}

.tr {
	border: 1px solid #ddd;
}

.tr2 {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #F7F5F8;
}

.td {
	width: 20.0000%;
	border-right: 1px solid #ddd;
	background-color: #F7F6F8;
}

.td2 {
	width: 80.0000%;
	padding: 8px;
}

.td3 {
	width: 100%;
}

.p {
	text-align: center;
	color: #383838;
	margin: 0;
}

.h3 {
	text-align: center;
}

.input_text_box {
	width: 80%;
}

.div {
	width: 100%;
	margin: auto;
}

.ui {
	list-style: none;
	margin: 0;
	padding: 0;
}

.li {
	float: left;
	margin-right: 15px;
}

.li2 {
	float: left;
}

.li3 {
	float: right;
	margin-left: 15px;
	padding: 8px;
	background: #f27634;
	cursor: pointer;
	margin-top: 15px;
	color: #fff
}

.li4 {
	float: right;
	padding: 8px;
	background: #f27634;
	cursor: pointer;
	margin-top: 15px;
	color: #fff;
}

.li4_input2{
	border:none;
	background: #f27634;
	color: #fff;
	font-size:11pt;
}