@charset "UTF-8";
/* QnA게시판 */

.board-wrap{
	width:960px; margin:20px auto 0 ; position:relative;
}
/* QnA_title */

/* 상단 select_box */
.select_box{
   float:right;
   padding: 15px;
}
.select{
	margin-right:20px;
   height:40px;
}


/* table */
.QnA_table {
    border-collapse: collapse;
    width: 960px;
}

.QnA_table th{
   padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #7e5957;
    height:60px;
    text-align:center;
    font-size:12pt;
}

.QnA_table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    height:60px;
    text-align:center;
    font-size:12pt;
}

.QnA_table tr:hover {background-color:#f5f5f5;}

#QnA_td{
   text-align:left;
}


/* 페이징 */
/* .pagination {
    display: inline-block;
    align:center;
    padding-top:40px;
}

.pagination a { 
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-size:12pt;
}

.pagination a.active {
    background-color: #4a2419;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #cfc085;
    border-radius: 5px;
}

검색
.search_box{
   float:right;
   padding-top:5px;
   padding-right:10px;
   
}
.green_window {
   display: inline-block;
   width: 250px; height: 34px;
   border: 3px solid #4a2419;
   background: white;
   margin-top:40px;
   
}
.input_text {
   width: 247px; height: 11px;
   margin-top:40px ;
   border: 0;
   line-height: 21px;
   font-weight: bold;
   font-size: 12pt;
   outline: none;
}
.sch_smit {
   width: 54px; height: 40px;
   margin-top:40px ; border: 0;
   vertical-align: top;
   background: #4a2419;
   color: white;
   font-weight: bold;
   border-radius: 1px;
   cursor: pointer;
}
.sch_smit:hover {
   background: #cfc085;
} */

/* 하단영역 */
#bottom{
   margin-bottom:40px;
}