@charset "UTF-8";
/* QnA 디테일 */

.board-wrap{
	width:960px;
	margin:20px auto 0;
	position:relative;	
}

.QnA_title {
	font-size: 20pt;
	font-weight: bold;
	padding-left: 15px;
}

.QnA_full {
	width: 100%;
	height: auto;
	margin: 20px 0px 40px 0px;
	border-top: 3px solid #cfc085;
}

.QnA_table {
	width: 100%;
	height: 40px;
	background: #F1F1F1;
}

.QnA_table td:nth-child(1) {
	padding: 15px; width : 80%;
	font-size: 15pt;
	width: 80%;
}

.QnA_table td:nth-child(2) {
	width: 10%;
}

.QnA_table td:nth-child(3) {
	width: 10%;
}

.QnA_modify {
	display: flex;
	justify-content: flex-end;
	padding: 0px 0px 5px 0px ;
	margin-top:10px;
}

.QnA_modify button:nth-child(1){
	color: #fff;
    padding: 9px 10px;
    margin: 0 0 0 3px;
    background-color: #516B82;
    border: none;
    outline: none;
    overflow: visible;
    width:50px;
    font-size:11pt;
    font-weight: bold;
    cursor: pointer;
}
.QnA_modify button:nth-child(2){
	color: #fff;
	background-color: #D7625E;
	margin-right:15px;
	border: none;
    outline: none;
    overflow: visible;
    width:50px;
    font-size:11pt;
    font-weight: bold;
    height: 38px;
    cursor: pointer;
}
.QnA_modify button:nth-child(3){
	color: #fff;
    padding: 9px 10px;
    margin: 0 0 0 3px;
    background-color: #975959;
    border: none;
    outline: none;
    overflow: visible;
    width:50px;
    font-size:11pt;
    font-weight: bold;
    cursor: pointer;
}
.QnA_note{
	padding: 0px 20px 20px 30px;
	font-size: 14pt;
	line-height: 2.5;
	font-family: "Noto Sans KR", "Roboto", "Nanum Gothic", Malgun Gothic,
		맑은고딕, 굴림, 돋움, Dotum, sans-serif;
}

/* 댓글 */
.QnA_comment_title{
	
	padding-left:10px;
	font-size: 14pt;
	border-bottom:3px solid #cfc085;
}

.QnA_comment{
	width:100%;
	float: left;
	margin-bottom:70px;
	
}

.QnA_comment_top_writer{
	    background: #F1F1F1;
    width: 100%;
    margin-bottom: -15px;
    float: left;
    height: 150px;

}

.QnA_comment_top_writer p{
	padding:20px; 
	font-size: 12pt;
	line-height: 2;
	font-family: "Noto Sans KR", "Roboto", "Nanum Gothic", Malgun Gothic,
		맑은고딕, 굴림, 돋움, Dotum, sans-serif;
}

.QnA_comment_writer img{
	margin:10px 0px 10px 10px;
	width:30px;
	height:30px;
}

.QnA_comment_writer span:nth-child(2){
	width:30px;
	height:30px;
	font-size:15pt;
	margin-left:10px;
	font-weight: bold;
}

.QnA_comment_writer span:nth-child(3){
	font-size:15pt;
	width:30px;
	height:30px;
	color:#c0c0c0;
	margin-left:10px;
	font-weight: bold;
}

.QnA_comment_writer span:nth-child(4){
	font-size:15pt;
	width:50px;
	height:30px;
	margin-top:20px;
	margin-right:10px;
	color:#c0c0c0;
	margin-left:10px;
	font-weight: bold;
	float:right;
	cursor:pointer;
}
.deleteSpan{
	font-size:15pt;
	width:50px;
	height:30px;
	margin-top:20px;
	color:#c0c0c0;
	margin-left:10px;
	font-weight: bold;
	float:right;
	cursor:pointer;
}
.modifiedSpan{
	font-size:15pt;
	width:50px;
	height:30px;
	margin-top:20px;
	color:#c0c0c0;
	margin-left:10px;
	font-weight: bold;
	float:right;
	cursor:pointer;
}
.underReply{
	display: inline-block;
	width:300px;
	cursor:pointer;
}
.QnA_comment_writer span:nth-child(5){
	font-size:15pt;
	width:50px;
	height:30px;
	margin-top:20px;
	color:#c0c0c0;
	margin-left:10px;
	font-weight: bold;
	float:right;
	cursor:pointer;
}

.QnA_comment_writer{
	border-bottom:1px solid #F1F1F1;
}

.commont_modify{
	border-top:3px solid #F1F1F1;
	
}

.commont_modify td:nth-child(1){
	width:86%;
	height:100px;
	
}

.commont_modify td:nth-child(2){
	width:30%;
	
}

.commont_modify textarea{
	width:91%;
	margin-left:50px;
	margin-right:50px;
	line-height: 2;
	background: white;
}

.commont_modify input{
	margin-left:10px;
	border:none;
	width:120px;
	height:107px;
	disply:inline-block;
	font-size:15pt;
	font-weight: bold;
	color:#000000;	
}

.answerArea{	
	    width: 780px;
    height: 80px;
    float: left;
    margin: 30px 0px 0px 45px;
    border: 1px solid #bdbdbd;
		}
		
.answerBtn{
    background: white;
    color: #4e4e4e;
    width: 86px;
    height: 86px;
    padding: 0px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0px 10px 10px;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    cursor: pointer;
    float: left;
}
.answerBtn:hover{
	background: #f5f1f1
}

.white_content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.white_content:target {
    opacity:1;
    pointer-events: auto;
}
.white_content > div {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 42%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	overflow: auto;	
}

.report_textarea {
	width: 90%; 
	height: 135px; 
	margin-bottom: 15px;
	
}