@charset "UTF-8";

.jung_table {
	width: 100%;
	border-collapse: collapse;
	border-top: 5px solid #7e5957;
}

.jung_table2 {
	width: 100%;
	border-collapse: collapse;
}

.tr {
	border: 1px solid #ddd;
}

.tr2 {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #F7F5F8;
}

.td {
	width: 20.0000%;
	border-right: 1px solid #ddd;
	background-color: #F7F6F8;
}

.td2 {
	width: 80.0000%;
	padding: 8px;
}

.td3 {
	width: 100%;
}

.p {
	text-align: center;
	color: #383838;
	margin: 0;
}

.h3 {
	text-align: center;
}

.input_text_box {
	width: 80%;
}

.div {
	width: 100%;
	margin: auto;
}

.ui {
	list-style: none;
	margin: 0;
	padding: 0;
}

.li {
	float: left;
	margin-right: 15px;
}

.li2 {
	float: left;
}

.li3 {
	float: right;
	margin-left: 15px;
	padding: 8px;
	background: #f27634;
	cursor: pointer;
	margin-top: 15px;
	color: #fff
}
.qnaSubmit{
	    float: right;
    padding: 8px;
    background: #f27634;
    cursor: pointer;
    color: #fff;
    border-color: #f27634;
    border-style: none;
    margin-top:15px;
    font-size:12pt;
}
.li4:hover{
	background: #7e5957;
	
}
.li4 {

	
}

.li4_input:hover{
	background: #7e5957;
	color:#fff;
}
.li4_input{
   float: right;
   padding: 8px;
   background: #fff;
   cursor: pointer;
   margin-top: 15px;
   color:  #7e5957;
   border-color: #7e5957;
  border:1px solid #7e5957;
}
.li4_input.submit{
   margin-right:10px;
}