@charset "UTF-8";

/* 장바구니 */


/* QnA_title */
.Notice_title{
   padding: 15px;
   font-size:30px;
   font-family:  "굴림", gulim, arial, helvetica, sans-serif;
   text-align:  center;
}

/* 상단 select_box */
.select_box{
   float:right;
   padding: 15px;
}
.select{
   height:40px;
}


/* table */
.Notice_table {
    border-collapse: collapse;
    width: 100%;
}

.checkedCount, .fullCount
{
	display: contents;
	
}



.Notice_table th{
   padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 2.5px solid #4a2419;
    height:60px;
    text-align:center;
    font-size:12pt;
    font-weight: normal;
}

.Notice_table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height:60px;
    text-align:center;
    font-size:10pt;
}



tr:hover {background-color:#f5f5f5;}

/* .hover >th{
   font-weight: none;
} */
#Notice_td{
   text-align:center;
}


/* 페이징 */
.pagination {
    display: inline-block;
    align:center;
    padding-top:40px;
}

.pagination a { 
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-size:15pt;
}

.pagination a.active {
    background-color: #ECE6CE;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #cfc085;
    border-radius: 5px;
}

/* 검색 */
.search_box{
   float:right;
   padding-top:5px;
   padding-right:10px;
   
}
.green_window {
   display: inline-block;
   width: 250px; height: 34px;
   border: 3px solid #ECE6CE;
   background: white;
   margin-top:40px;
   
}
.input_text {
   width: 247px; height: 11px;
   margin-top:40px ;
   border: 0;
   line-height: 21px;
   font-weight: bold;
   font-size: 16px;
   outline: none;
}
.sch_smit {
   width: 54px; height: 40px;
   margin-top:40px ; border: 0;
   vertical-align: top;
   background: #ECE6CE;
   color: white;
   font-weight: bold;
   border-radius: 1px;
   cursor: pointer;
}
.sch_smit:hover {
   background: #cfc085;
}

/* 하단영역 */
#bottom{
   margin-bottom:40px;
}

.images{
   align:center; 
   width: 50px;
   height:50px;
   background-size: cover;

}

.select_delete{
	color:#4a2419;
   border:  1px solid #4a2419;
   float: left;
   margin: 5px;
   margin-top:17px;
   padding: 5px;
   font-size: 10pt;
   border-radius: 3px;
}
.select_delete:hover{
	cursor: pointer;
	background: #eee8e8;
	
}
#selectAll{
   float:left;
   margin: 5px;
   padding: 15px;
}
#selectAll_checkbox{
   float:left;
   margin: 5px;
   
   padding: 15px;
   margin-top:25px;
   
}

.title_box{
  
   width: 900px;
   height: 60px;
   
  
}

#basket_image{
   background-size: cover;
   width: 50px;
   height: 50px;
   float: left;
}

#basket{
   font-weight:  bold;
   font-size: 23pt;
   color: #7e5957;
   
   
}

.Notice_table a{
   text-decoration: none;
   color:#f37634;
}

.order{
   float: left;
   border: 2px solid #dcdcdc;   
   border-bottom:none;
   width: 280px;
   height: 35px;
   text-align: center;
   background-color: #f2f2f2;
   padding-top: 13px;
   font-weight: bold;
   margin-right: 50px;
   font-size:10pt;
}

.delivery{
   float: left;
    border: 2px solid #dcdcdc;
    border-bottom:none;
    width: 280px;
    height: 35px;
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 13px;
    font-weight: bold;
    margin-right: 50px;
    font-size:10pt;
}

.total{
   float: left;
   border: 2px solid #dcdcdc;
   border-bottom:none;
   width: 280px;
   height: 35px;
   text-align: center;
   background-color: #f2f2f2;
   padding-top: 13px;
   font-weight: bold;
   font-size:10pt;
}

.order_price{
   float: left;
   width: 280px;
   height: 80px;
   border: 2px solid #dcdcdc;

   text-align: right;

}
.op2{
   margin: 0;
    float: left;
    width: 50px;
    line-height: 70px;
    font-size: 20pt;
    text-align: center;
    color:  gray;
}

.delivery_price{
   float: left;
   width: 280px;
   height: 80px;
   border:2px solid #dcdcdc;
   
   text-align: right;

}

.total_price{
   float: left;
   width: 280px;
   height: 80px;
   border:2px solid #dcdcdc;
   color:red;
   text-align: right;
   
}

.sPrice{
   
   margin-right: 25px;
    float: right;
   margin-top: 20px;
   /* font-weight: bold; */
   color:#4a2419;
   font-size: 14pt;
}


.twobuttons{
   width: 600px;
   margin-left: 200px;
   float: left;
}

.tbutton{
   width:250px;
   height:40px;
   
   float: left;
   margin : 5px;
   margin-top: 30px; 
   text-align: center;
   padding-top: 10px;
   font-size: 13pt;
   font-weight: bold;
}

.more{
	background:#817567;
	color:white;
}

.payment{
   background: #f77734;
   color: white;
}

.operator{
   width :20px;
    height: 19px;
    font-size: 17pt;
    text-align: center;
    font-weight: bold;
    float: left;
    margin: 0px;
    border: 1px solid #bdbdbd;
    background: #f2f2f2;
   line-height: 16px;
   
}

.x{
   width :20px;
    height: 19px;
    font-size: 15pt;
    margin :0px;
    line-height: 15px;
}

tr:nth-child(3){
   text-align: center;
}
.count{
   width:30px;
   size: 3px;
   float: left;
   margin: 0px;
   text-align: right;
}

.amount_box{
   width: 80px;
   margin-left: 15px;
   
}

.right_menubar{
margin:0px;
   float: right;
   border: 1px solid black;
   width:100px;
   height: 100px;
   position: absolute;
   background: red;
}