@charset "UTF-8";
/* CSS Document */
html { overflow-y:scroll; }
html, body { margin:0; padding:0; width:100%;}
.MyHtml{
	overflow-y:auto;
	overflow-x:hidden;
}
img{border:0}

/* #top_line {width:100%; height:10px; background-color:#462114;} */
#wrap{width:100%; }


/* #header {width:100%; 
 		background: url(/farm/resources/images/top_bg.jpg) top repeat-x; 
		position:relative;
		top:10px;
		left:0;
		z-index:9999;
		float:left;
		clear:both; 
}
		
#header div.inner-wrap { width:960px; height:125px; margin:0 auto; position:relative; }
		#header div.inner-wrap h1.logo { width:117px; height:119px; margin:0; padding:0; position:absolute; top:0; left:0; }
		#header div.inner-wrap h1.logo a { width:117px; height:119px; text-indent:-999em; background:transparent url(/farm/resources/images/logo.jpg) 0 0 no-repeat; display:block;}
		
		main menu
		#header ul.main-menu { margin:0; padding:0; list-style:none; position:absolute; bottom:50px; left:170px; width:450px;}
			#header ul.main-menu li { padding:0 30px; float:left; font-size:14pt; font-style: normal; color: #462114;}
				#header ul.main-menu li a { height:20px; display:block; text-decoration:none; color: #462114; }
				#header ul.main-menu li a:hover{ color:#478318;}
				
		global menu
		#header ul.global-menu { margin:0; padding:0; list-style:none; position:absolute; bottom:45px;right:0px; width:350px;}
			#header ul.global-menu li { padding:0 0 0 10px; float:left; }	
			#header ul.global-menu li a{color:#717070;  font-style: normal; font-family: dotum;font-size: 9pt; text-decoration:none;}
			#header ul.global-menu li.search { width:18px; height:17px; background:url(/farm/resources/images/search.png) no-repeat; }		
			#header ul.global-menu li.s_input{ min-width:104px; border-bottom:solid 2px #f27634;}
			
		#header ul.weather { margin:0; padding:0; list-style:none; position:absolute; right:0px;}
		#header ul.weather li img{width:30px; height: 30px}
		 */
		/*main content*/			
#container { width:100%; min-height:1085px; position:relative; clear:both;  }
		#container div.inner-wrap { width:960px; margin:20px auto 0 ; position:relative; display: flow-root;}
		
		#container div.main_visual{ width:630px; height:440px;/*  border:1px solid #9CC; */  float:left; }
		
		#container div.tab_main{width:300px; height:507px; border:1px solid #dcdcdc; float:right; }
		#container div.box { width:300px; height:400px; border:1px solid #DCDCDC; margin:0px 27px 0px 0; float:left; background-size: cover;}
		.box_nametag{width:300px; height: 70px; border:none; margin:0px 27px 30px 0; float: left; padding: 9px; font-size: 10pt;  color: dimgray;}
		.box_border{width:300px; height: 470px; border: 1px solid #dcdcdc; margin:0px 27px 0px 0; float: left;}
		.box_border1{width:300px; height: 470px; border: 1px solid #dcdcdc; margin:0px 27px 0px 0; float: left;}
		.box_title{
		font-weight: bold; margin-bottom :0px; padding: 5px; 
		}
		.big_title{
		width: 300px; height: 50px; float:left; margin:0px 27px 15px 0;
		color: darkslategray;
		}
		.big_title2{
		width: 300px; height: 50px; float:left; margin:0px 27px 15px 0;
		color: darkslategray;
		}
		.box_price{
		margin: 0px;
		padding-left:6px;
		}
		.bigbox1{
		width:300px; height: 530px; float:left; margin:80px 27px 0px 0;
		}
		.bigbox2{
		width:300px; height: 530px; float:left; margin:80px 27px 0px 0;
		}
		
		#container div.box2 { width:300px; height:470px; border:1px solid #DCDCDC; margin:0px 0px 30px 0;float:left; }
		.tarea{
		width: 800px;
		height: 200px;
		}
			
		.bigbox3{
		width:300px; height: 530px; float:left; margin:12px 0px 0px 0;
		}
		
		.big_title{
		width: 300px; height: 50px; float:left; margin:0px 0px 15px 0;
		color: darkslategray;
		
		}
		.auction_table{
		border-collapse:collapse;
		/* border-top: 2px solid #512772; */
		margin: 20px;
		margin-top:10px;
		font-size: 10pt;
		}
		.auction_table th{
		padding: 10px;
		border-bottom:1px solid #dcdcdc;
		
		padding-bottom: 10px;
		padding-top: 10px;
		
		}
		.auction_table  th:nth-child(1){
		width:100px;
		text-align: left;
		} 
		
		.auction_table  th:nth-child(2){
		width:100px;
		text-align: center;
		} 
		
		/* .auction_table  th:nth-child(3){
		width:80px;
		text-align: center;
		}  */
		
		.auction_table td{
		
		font-size: 10pt;
		border-bottom: 1px solid #dcdcdc;
		
		}
		.auction_table td:nth-child(1){
		padding: 10px;
		text-align: left;
	
		
		}
		.auction_table td:nth-child(2){
	
		text-align: left;
		
	
		}
		
		
		.auction_img{
		width:80px;
		height:50px;
		background-size: cover;
		}
		
		.currentPrice{
		font-size: 12pt;
		font-weight: bold;
		color: #407d1f;
		}
		.directPrice{
		margin-top: 5px;
		}
.mypageContainer{
	margin:50px 0px 0px 0px;
	
}		
#footer { width:100%; padding:20px 0 40px 0; border-top:solid 1px #DCDCDC; margin:0 auto; position:relative; }
		#footer div.inner-foot { width:960px;  margin: auto; padding:0;}
		#footer div.inner-foot h5{ list-style:none;  font-style: normal; font-family: dotum;color: #929292;font-size: 9pt;line-height: 180%; font-weight:normal; }
		#footer div.inner-foot-qna{font-style: normal; font-family: dotum;font-size: 12pt;font-weight:normal; }
		#footer div.inner-foot-qna a{text-decoration:none;color: #929292;}
		
.title1{
	width:928px;
   margin:0px;
   margin-top:20px;
   margin-bottom:30px;
   font-size:23pt;
   color:#7e5957; 
   font-weight:bold;
   float:left;
}
.title_image{
	    margin-top: 5px;
	background-size: cover;
   width: 40px;
   height: 35px;
   float: left;
}
.titleP{
	margin:0px;
	margin-left:40px;
}
.market_write{
	color: #7e5957;
   
   border:1px solid #7e5957;
   background: white;
   border-radius: 3px;
   font-size: 10pt;
   font-weight: bold;
   float: right;
   margin:10px 15px 20px 0;
   padding: 5px;
}
.market_write:hover{
	cursor: pointer;
   background: #eee8e8;
}
.pagination {
    display: inline-block;
    align:center;
    padding-top:40px;
}

.pagination a { 
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-size:12pt;
}

.pagination a.active {
    background-color: #7e5957;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #cfc085;
    border-radius: 5px;
}

/* 검색 */
.search_box{
   float:right;
   padding-top:5px;
   padding-right:10px;
   
}
.green_window {
   display: inline-block;
   width: 250px; height: 34px;
   border: 3px solid #7e5957;
   background: white;
   margin-top:40px;
   
}
.input_text {
   width: 230px; height: 20px;
   margin-top:7px ;
   margin-left: 4px;
   border: 0;
   line-height: 21px;
   /* font-weight: bold; */
   font-size: 12pt;
   outline: none;
}
.sch_smit {
   width: 54px; height: 40px;
   margin-top:40px ; border: 0;
   vertical-align: top;
   background: #7e5957;
   color: white;
   font-weight: bold;
   border-radius: 1px;
   cursor: pointer;
}
.sch_smit:hover {
   background: #cfc085;
}

.slide {
	background:#fdf9ea;
	width: 300px;
	height: 470px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.carousel-control.left {
	background: rgba(0, 0, 0, 0);
	color: black;
	left:-10px;
}

.carousel-control.right {
	background: rgba(0, 0, 0, 0);
	color: black;
	right:-10px;
}

.item {
	width: 100%;
}

.auction_table {
	width: 250px;
}

 .seeMore{
 
	font-size: 10pt;	
	color:gray;
	width: 60px;
	height: 15px;
	float:right; 
	margin-top: 20px;
	vertical-align: bottom;
	padding-top: 15px;
} 
.pmarketTitle{
	border: 1px solid #dcdcdc;
	text-align: center;
	color: gray;
	font-weight: bold;
	height: 50px;
	padding-top: 15px;
	
}

.nmarketPrice{
	text-align: center;
	font-weight: normal;
}

.aTag1{
	text-decoration: none;
	color:black;
}
