<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		 <typeAlias type="com.kh.farm.auction.model.vo.Auction" alias="Auction" /> 
		 <typeAlias type="com.kh.farm.auction.model.vo.AuctionHistory" alias="AuctionHistory" /> 
		 <typeAlias type="com.kh.farm.auction.model.vo.AuctionQnA" alias="AuctionQnA" /> 
		 <typeAlias type="com.kh.farm.auction.model.vo.AuctionOrder" alias="AuctionOrder" /> 
		 <typeAlias type="com.kh.farm.auction.model.vo.AuctionCommon" alias="AuctionCommon" />
		 <typeAlias type="com.kh.farm.chat.model.vo.Chat" alias="Chat" /> 
		 <typeAlias type="com.kh.farm.chat.model.vo.ChatHistory" alias="ChatHistory" /> 
		 <typeAlias type="com.kh.farm.chat.model.vo.ChatList" alias="ChatList" /> 
		 <typeAlias type="com.kh.farm.job.model.vo.Job" alias="Job" /> 
		 <typeAlias type="com.kh.farm.market.model.vo.Category" alias="Category2" /> 
		 <typeAlias type="com.kh.farm.market.model.vo.Daily" alias="Daily" /> 
		 <typeAlias type="com.kh.farm.market.model.vo.Market" alias="Market" /> 
		 <typeAlias type="com.kh.farm.market.model.vo.Reply" alias="Reply" /> 
		 <typeAlias type="com.kh.farm.market.model.vo.Review" alias="Review" /> 
		 <typeAlias type="com.kh.farm.market.model.vo.UnderReply" alias="UnderReply" /> 
		 <typeAlias type="com.kh.farm.member.model.vo.Member" alias="Member" /> 
		 <typeAlias type="com.kh.farm.notice.model.vo.Notice" alias="Notice" /> 
		 <typeAlias type="com.kh.farm.payment.model.vo.Payment" alias="Payment" /> 
		 <typeAlias type="com.kh.farm.payment.model.vo.PaymentComplete" alias="PaymentComplete" /> 
		 <typeAlias type="com.kh.farm.qna.model.vo.MainQna" alias="MainQna" /> 
		 <typeAlias type="com.kh.farm.qna.model.vo.Market_qna" alias="Market_qna" /> 
		 <typeAlias type="com.kh.farm.shoppingBasket.model.vo.ShoppingBasket" alias="ShoppingBasket" /> 
		 <typeAlias type="com.kh.farm.shoppingBasket.model.vo.ShowBasket" alias="ShowBasket" /> 
		 <typeAlias type="com.kh.farm.category.model.vo.Category" alias="Category" /> 
		 <typeAlias type="com.kh.farm.common.model.vo.PageNumber" alias="PageNumber" />  
		 <typeAlias type="com.kh.farm.report.model.vo.Report" alias="Report"/>	
		 <typeAlias type="com.kh.farm.visit.model.vo.Visit" alias="Visit"/>	
		 <typeAlias type="com.kh.farm.kakao.model.vo.Kakao" alias="Kakao"/>
	</typeAliases>

	<mappers>
 		<mapper resource="mybatis/mappers/kakao-mapper.xml" />
		<mapper resource="mybatis/mappers/auction-mapper.xml" />
		<mapper resource="mybatis/mappers/chat-mapper.xml" />
		<mapper resource="mybatis/mappers/job-mapper.xml" />
		<mapper resource="mybatis/mappers/market-mapper.xml" />
		<mapper resource="mybatis/mappers/member-mapper.xml" />
		<mapper resource="mybatis/mappers/notice-mapper.xml" />
		<mapper resource="mybatis/mappers/payment-mapper.xml" />
		<mapper resource="mybatis/mappers/qna-mapper.xml" />
		<mapper resource="mybatis/mappers/shoppingBasket-mapper.xml" />
		<mapper resource="mybatis/mappers/category-mapper.xml" />
		<mapper resource="mybatis/mappers/auctionhistroy-mapper.xml" />
		<mapper resource="mybatis/mappers/report-mapper.xml" />
		<mapper resource="mybatis/mappers/visit-mapper.xml" />
		<mapper resource="mybatis/mappers/visit-mapper2.xml" />
		
	</mappers>
</configuration>
