<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="job">
	<!--구인구직조회수 -->
	<select id="jobListCount" resultType="int">
	<![CDATA[
		select count(*) from job
	]]>
	</select>
	<!--구인구직목록 -->
	<select id="jobList" parameterType="PageNumber" resultType="Job">
	<![CDATA[
		select * from(
		select rownum rnum,A.* from(select job_no, job_img,substr(job_addr,1,2) as "job_addr" ,(select case when TO_CHAR(JOB_ENDDATE,'YY/MM/DD') <= TO_CHAR(SYSDATE,'YY/MM/DD') THEN TO_CHAR(JOB_STATUS -1) ELSE '1' END  from dual )as "JOB_STATUS", job_title, member_id, job_date from job
		order by job_no asc) A) where rnum >=  #{startRow} and rnum<= #{endRow}
	]]>
	</select>
	<!--구인구직상세보기 -->
	<select id="jobDetail" parameterType="job" resultType="job">
	<![CDATA[
		select * from job where job_no = #{job_no}
	]]>
	</select>
	<!--구인구직글등록 -->
	<insert id="insertjob" parameterType="job" flushCache="true"
		useGeneratedKeys="true">
	<![CDATA[
		insert into job values(  (select (case when max(job_no) is null then 0 else max(job_no) end) from job)+1,#{member_id},#{job_title},#{job_name},#{job_img},#{job_contents},sysdate,
		'1',#{job_startdate},#{job_enddate},#{job_addr},#{job_tel})
	]]>
	</insert>
	<!--구인구직 검색 -->
	<select id="jobserach" parameterType="PageNumber" resultType="Job">
	<![CDATA[
	select * from(
		select rownum rnum,A.* from (select job_no, substr(job_addr,1,2) as "job_addr" ,(select case when TO_CHAR(JOB_ENDDATE,'YY/MM/DD') <= TO_CHAR(SYSDATE,'YY/MM/DD') THEN TO_CHAR(JOB_STATUS -1) ELSE '1' END  from dual )as "JOB_STATUS", job_title , member_id, job_date from job where job_title like '%'||#{job_search}||'%'
		order by job_no desc) A) where rnum >=  #{startRow} and rnum<= #{endRow}
	]]>
	</select>
	
	<!--구인구직 주소값 -->
	<select id="jobaddr" parameterType="PageNumber" resultType="Job">
	<![CDATA[
		select * from(
		select rownum rnum,A.* from(select job_no, substr(job_addr,1,2) as "job_addr" ,(select case when TO_CHAR(JOB_ENDDATE,'YY/MM/DD') <= TO_CHAR(SYSDATE,'YY/MM/DD') THEN TO_CHAR(JOB_STATUS -1) ELSE '1' END  from dual )as "JOB_STATUS", job_title, member_id, job_date from job where job_addr like '%'||#{addr}||'%'
		order by job_no asc) A) where rnum >=  #{startRow} and rnum<= #{endRow}
	]]>
	</select>
	<!-- -->
</mapper>
