<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">


<select id="noticeList" parameterType="PageNumber" resultType="notice">
	<![CDATA[
	select * from(
	select rownum rnum, notice_no, notice_title, notice_date from (select notice_no, notice_title, notice_date from notice 
	order by notice_no desc)) where rnum >=#{startRow} and rnum <=#{endRow}
	
	]]>
</select>
<select id="noticeCount" parameterType="int" resultType="int">
		select count(*) from notice
</select>

<select id="noticeDetail" parameterType="notice" resultType="notice">
	<![CDATA[
		select * from notice where notice_no = #{notice_no}
	]]>
</select>

<insert id="insertNotice" parameterType="notice" flushCache="true" useGeneratedKeys="true">
	<![CDATA[
		insert into notice values((select max(notice_no) from notice)+1,#{notice_title},#{notice_contents},sysdate)
	]]>
</insert>

<update id="updateNotice" parameterType="notice" flushCache="true" useGeneratedKeys="true">
	<![CDATA[
		update notice set notice_title = #{notice_title},notice_contents = #{notice_contents} where notice_no = #{notice_no}
	]]>
</update>

<delete id="deleteNotice" parameterType="notice" flushCache="true">
	<![CDATA[
		delete from notice where notice_no = #{notice_no}
	]]>
</delete>
</mapper>
