<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="visit">

	<insert id="visitCount">
		insert into visit values(sysdate)
	</insert>
	
	<select id="totalCount">
		select count(*) from visit
	</select>
	
	<select id="todayCount">
		select count(*) from visit where vsit_date = sysdate
	</select>
	
</mapper>
