@charset "UTF-8";
/* table */
.View_table {
    border-collapse: collapse;
    width: 100%;
 
}

.View_table th{
   padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;

    height:60px;
    text-align:center;
    font-size:11pt;
}

.View_table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    height:60px;
    text-align:center;
    font-size:11pt;
}
.View_table td:nth-child(5){
	
	color: gray;
}

#delivery{
	width:88px;
}
#transport_no{
	width:84px;
}
.View_table tr:hover {background-color:#f5f5f5;}
.transport{
	border: 1px solid #dcdcdc;
	background: #fefefe;
	cursor:pointer;
	width: 80px;
	padding: 3px;
	margin: 0 auto;
	border-radius: 3px; 
	font-size: 10pt;
}
.orderDetail{
	border: 1px solid #dcdcdc;
	background: #fefefe;
	
	width: 60px;
	padding: 3px;
	margin: 0 auto;
	border-radius: 3px; 
	font-size: 10pt;
}
.orderDetail.delivery{
	margin-bottom:5px;
}
.atag{
	text-decoration: none;
	color: gray;
}
.Atitle{
	text-decoration: none;
	font-weight: bold;

}
.complete{
	color: #bdbdbd;
}
td{
	font-size: 5pt;
}